[submodule "Assets/Server~"]
	path = Assets/Server~
	url = https://github.com/Timka654/NSL.Node.git
	branch = master
[submodule "Assets/Scripts/Network/Node"]
	path = Assets/Scripts/Network/Node
	url = https://github.com/Timka654/NSL.Node.RoomSharedFiles.git
	branch = main
